<%- include('partials/navBar') %>

<body>
    <div class="ui container">
        <form action="/delete" method="POST">
            <h4>Are u sure to delete Your data</h4>
            <input type="submit" value="Yes, I DO">
        </form>
    </div>
</body>